<%= form_with(model: account, local: true) do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% account.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :account_title %>
  </div>

  <div class="field">
    <%= form.label :begBalance %>
    <%= form.text_field :begBalance, id: :account_begBalance %>
  </div>

  <div class="field">
    <%= form.label :curBalance %>
    <%= form.text_field :curBalance, id: :account_curBalance %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note, id: :account_note %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
