<div class="container-fluid">
  <div class="row" >

    <%= render 'forms/latizq' %>

    <div class="col-12 col-md-9 offset-md-3 mt-5">
      <div class="col-12">
        <p id="notice"><%= notice %></p>
        <p class="h2 text-center text-md-left mt-3 mt-md-0 ml-md-5"><strong>CUENTAS FINANCIERAS</strong></p>
      </div>

      <div class="col-12 pl-0 pl-md-2 pr-0 pt-5">
        <table class="table table-striped table-hover table-bordered">
          <thead class="">
            <th>NOMBRE</th>
            <th>SALDO</th>
            <th>OPCIONES</th>
          </thead>
    <!--__________________________________Este es el que se debe repetir para cada cuenta__________________________________-->
          <% @accounts.each do |account| %>
            <tr> 
              <td><%= account.title %></td>
              <td><%= account.curBalance %></td>
              <td>
                <div class="dropdown">
                  <button style="color: black" class="btn btn-menu dropdown-toggle" id="dp-menu" data-toggle="dropdown" ></button>
                  <div class="dropdown-menu" aria-labelledby="dp-menu">
                    <a class="dropdown-item"><%= link_to 'Ver', account %></a>
                    <a class="dropdown-item"><%= link_to 'Editar', edit_account_path(account) %></a>
                    <!-- <a href="transacciones-cuenta.html" class="dropdown-item">Transacciones</a> -->
                    <a class="dropdown-item"><%= link_to 'Eliminar', account, method: :delete, data: { confirm: '¿Estás seguro?' } %></a>
                  </div>
                </div>
              </td>
            </tr>
          <% end %>

    <!--____________________________________________________________________________________________________________________-->
        </table>
        <button type="button" class="btn" style="background: transparent;"><%=  %><%= link_to image_tag('new.png'), new_account_path %>
        </button>
      </div>
    </div>
  </div>
</div>




